.comment {
  @include flex-content();
  @include maxSize(350px, 450px);
  @include change-computing();
  overflow: visible;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px 10px 0 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);

  @media only screen and (min-width: $common-width) {
    flex: 0 1 32%;
    margin-bottom: 24px;
    padding: 20px 10px 0 15px;
  }

  @media only screen and (min-width: $max-width) {
    @include maxSize(376px, 428px);
    padding: 24px 10px 0 20px;
  }

  /*title*/
  &__title {
    @include change-computing();
    @include maxSize(178px, 42px);
    @include size();
    @include yesevaOne();
    order: 2;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: $title-color;
  }

  /*wrapper img*/
  &__wrapper-img {
    @include change-computing();
    @include maxSize(76px, 76px);
    @include size();
    order: 1;
    margin-right: 20px;
    border-radius: 50%;

    @media only screen and (min-width: $max-width) {
      margin-right: 23px;
    }
  }

  /*text*/
  &__text {
    @include change-computing();
    @include maxSize(324px);
    @include futuraBook();
    order: 3;
    margin: 22px 0 0;
    font-size: 15px;
    line-height: 27px;
    color: $list-color;
  }

  &__text_paragraph {
    display: block;
    margin-top: 10px;

    @media only screen and (min-width: $common-width) {
      margin-top: 8px;
    }

    @media only screen and (min-width: $max-width) {
      margin-top: 14px;
    }
  }

  /*results*/
  &__results-wrapper {
    @include flex-content();
    @include change-computing();
    @include maxSize(293px, 54px);
    @include size(100%, auto);
    order: 4;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0 -28px -20px;
    box-shadow: 5px 5px 20px $brand-50-color;

    @media only screen and (min-width: $common-width) {
      @include maxSize(none, 48px);
      margin: 20px 0 -24px -15px;
    }

    @media only screen and (min-width: $max-width) {
      @include maxSize(293px, 54px);
      margin: 58px 0 -28px -20px;
    }
  }

  /*result*/
  &__result {
    @include flex-content();
    @include change-computing();
    justify-content: space-around;
    align-items: center;
    flex: 0 1 53%;
    padding: 9px;
    background-color: $brand-color;
    border-left: 1px solid white;

    &:first-child {
      flex: 0 1 47%;
      border-left: 0;
    }
  }

  &__result-img {
    @include size(36px);

    @media only screen and (min-width: $common-width) {
      @include size(32px);
    }

    @media only screen and (min-width: $max-width) {
      @include size(36px);
    }
  }

  &__result-text {
    @include yesevaOne();
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: $base-color;
  }
}