.team {
  position: relative;
  padding-top: 66px;
  background-color: $base-background;

  @media only screen and (min-width: $tablet-width) {
    background-color: $dark-background;

    &::after {
      content: "";
      position: absolute;
      top: 690px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $base-color;
    }
  }

  @media only screen and (min-width: $common-width) {
    padding-top: 95px;

    &::after {
      top: 501px;
    }
  }

  /*wrapper*/
  &__wrapper {
    @media only screen and (min-width: $tablet-width) {
      margin: 0 auto;
    }

    @media only screen and (min-width: $max-width) {
      @include maxSize(1063px);
    }
  }

  /*title*/
  &__title {
    padding: $base-padding;
    color: $base-color;
  }

  &__title-icon-wrapper {
    margin-top: 12px;
  }

  /*text*/
  &__text {
    @include change-computing();
    @include futuraBook();
    position: relative;
    z-index: 1;
    margin: 23px auto 0;
    padding: $base-padding;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: $base-color;

    @media only screen and (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24px;
    }

    @media only screen and (min-width: $common-width) {
      @include maxSize(476px);
      font-size: 20px;
      line-height: 27px;
    }

    &_second {
      display: none;
      margin-top: 17px;
      padding: 0;
      font-size: 20px;
      line-height: 34px;
      text-align: center;
      color: $accent-color;

      @media only screen and (min-width: $common-width) {
        @include maxSize(558px, 136px);
        display: block;
      }
    }
  }

  &__text-br {
    display: block;
  }

  /*wrapper-persons*/
  &__wrapper-persons {
    @include flex-content();
    @include change-computing();
    position: relative;
    z-index: 1;
    flex-flow: column;
    margin-top: 41px;

    @media only screen and (min-width: $tablet-width) {
      flex-flow: row wrap;
      justify-content: space-around;
    }

    @media only screen and (min-width: $common-width) {
      margin-top: 38px;
      flex-flow: row;
      justify-content: space-between;
    }
  }

  /*person*/
  &__person {
    margin: 37px auto 0;
    padding: 17px 18px 0;

    @media only screen and (min-width: $base-width) {
      padding: 0;
    }

    @media only screen and (min-width: $tablet-width) {
      margin: 0 0 20px 0;
    }

    @media only screen and (min-width: $common-width) {
      margin: 0;

      & .person__img {
        margin-left: -12px;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__line {
    @include size(55px, 1px);
    position: relative;
    z-index: 1;
    display: none;
    margin: 30px auto 0;
    background-color: $brand-color;

    @media only screen and (min-width: $common-width) {
      display: block;
    }

    @media only screen and (min-width: $max-width) {
      margin-top: 55px;
    }
  }
}