.clients {
  @include change-computing();
  overflow: visible;
  display: none;
  margin-top: 88px;

  @media only screen and (min-width: $tablet-width) {
    display: block;
  }

  /*wrapper*/
  &__wrapper {
    @include change-computing();
    @include maxSize(none);
    overflow: visible;
    margin: 0 auto;

    @media only screen and (min-width: $max-width) {
      @include maxSize(1236px);
    }
  }

  /*title*/
  &__title {
    color: $accent-color;
  }

  /*text*/
  &__text {
    @include change-computing();
    @include maxSize(476px, 57px);
    @include futuraBook();
    margin: 24px auto 0;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $accent-color;
  }

  &__text-br {
    display: block;
  }

  &__wrapper-comments {
    @include flex-content();
    @include change-computing();
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    overflow: visible;
    margin-top: 39px;
    padding: 0 10px;

    @media only screen and (min-width: $common-width) {
      flex-flow: row;
    }

    @media only screen and (min-width: $max-width) {
      padding: 0;
    }
  }
}