/*COLOR*/
$base-color: white;
$base-50-color: rgba(255, 255, 255, .5);
$base-30-color: rgba(255, 255, 255, .3);
$accent-color: #363636;
$brand-color: #E3B873;
$brand-70-color: rgba(227, 184, 115, .7);
$brand-50-color: rgba(227, 184, 115, .5);
$brand-30-color: rgba(227, 184, 115, .3);
$brand-20-color: rgba(227, 184, 115, .2);
$brand-10-color: rgba(227, 184, 115, .1);
$title-color: #181818;
$list-color: #959595;
$offer-background: rgba(0, 0, 0, 0.05);

/*SIZES*/
$base-width: 500px;
$base-padding: 0 18px;

/*MODULES*/
/*header*/
$base-background: #252525;

/*TIME*/
$regular-time: .6s;

