/*COLOR*/
$base-color: white;
$base-30-color: rgba(255, 255, 255, 0.3);
$accent-color: #363636;
$brand-color: #E3B873;

/*SIZES*/
$base-width: 500px;

/*MODULES*/
/*header*/
$header-background: #252525;

/*TIME*/
$regular-time: .6s;

