.footer {
  display: none;
  background-color: $title-color;

  @media only screen and (min-width: $base-width) {
    display: block;
  }

  /*wrapper*/
  &__wrapper {
    @include flex-content();
    @include maxSize();
    @include size(100%, 90px);
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: $tablet-width) {
      @include maxSize();
      @include minSize(750px);
      padding: 0 20px;
    }

    @media only screen and (min-width: $common-width) {
      @include size(100%, 110px);
    }

    @media only screen and (min-width: $max-width) {
      @include size(100%, 133px);
      padding: 0 91px;
    }
  }

  /*logo*/
  &__logo {
    display: none;

    @media only screen and (min-width: $tablet-width) {
      display: block;
      font-size: 14px;
    }

    @media only screen and (min-width: $common-width) {
      font-size: 15px;
    }
  }

  /*list*/
  &__list {
    @include list();
    flex: 0 1 100%;
    justify-content: space-around;
    flex-flow: row;
    list-style: none;

    @media only screen and (min-width: $base-width) {
      display: flex;
    }

    @media only screen and (min-width: $tablet-width) {
      flex: 0 1 60%;
      justify-content: space-between;
    }

    @media only screen and (min-width: $common-width) {
      flex: 0 1 45%;
    }
  }

  &__list-link {
    @include futuraBook();
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $base-color;
    border-bottom: 1px solid transparent;
    transition: border $regular-time, color $regular-time;

    &_now {
      color: $brand-color;
    }

    &:hover {
      color: $brand-color;
      border-bottom: 1px solid $brand-color;
    }

    &:active {
      color: $base-color;
      border-bottom: 1px solid transparent;
    }
  }

  /*info*/
  &__info {
    display: none;
    flex: 0 1 26%;

    @media only screen and (min-width: $common-width) {
      @include flex-content();
      @include maxSize(150px);
      flex-flow: row;
    }

    @media only screen and (min-width: $max-width) {
      @include maxSize();
      justify-content: space-between;
      align-items: center;
      flex: 0 1 26%;
    }
  }

  /*number*/
  &__number {
    @include futuraDemic();
    display: none;
    font-size: 14px;
    line-height: 16px;
    color: $base-color;

    @media only screen and (min-width: $max-width) {
      display: block;
    }
  }

  /*button*/
  &__button {
    @include change-computing();
    @include futuraBook();
    @include size(161px, 37px);
    display: none;
    margin: 0;
    padding: 12px 0;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: $base-color;
    outline: 0;
    border: 0;
    border-radius: 2px;
    background: $brand-color;
    box-shadow: 0 5px 15px $brand-20-color;
    transition: color $regular-time, box-shadow $regular-time;

    @media only screen and (min-width: $common-width) {
      display: block;
    }

    &:hover {
      cursor: pointer;
      color: $accent-color;
    }

    &:active {
      color: $base-color;
      box-shadow: none;
    }
  }
}