.footer {
  display: none;
  background-color: $title-color;

  @media only screen and (min-width: $max-width) {
    display: block;
  }

  /*wrapper*/
  &__wrapper {
    @include flex-content();
    @include size(100%, 133px);
    justify-content: space-between;
    align-items: center;
    padding: 0 91px;
  }

  /*list*/
  &__list {
    @include list();
    flex: 0 1 45%;
    justify-content: space-between;
    flex-flow: row;
    list-style: none;
  }

  &__list-link {
    @include futuraBook();
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $base-color;
    border-bottom: 1px solid transparent;
    transition: border $regular-time, color $regular-time;

    &_now {
      color: $brand-color;
    }

    &:hover {
      color: $brand-color;
      border-bottom: 1px solid $brand-color;
    }

    &:active {
      color: $base-color;
      border-bottom: 1px solid transparent;
    }
  }

  /*info*/
  &__info {
    @include flex-content();
    flex: 0 1 26%;
    justify-content: space-between;
    align-items: center;
  }

  /*number*/
  &__number {
    @include futuraDemic();
    font-size: 14px;
    line-height: 16px;
    color: $base-color;
  }

  /*button*/
  &__button {
    @include change-computing();
    @include futuraBook();
    @include size(161px, 37px);
    padding: 12px 0;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: $base-color;
    outline: 0;
    border: 0;
    border-radius: 2px;
    background: $brand-color;
    box-shadow: 0 5px 15px $brand-20-color;
    transition: color $regular-time, box-shadow $regular-time;

    &:hover {
      cursor: pointer;
      color: $accent-color;
    }

    &:active {
      color: $base-color;
      box-shadow: none;
    }
  }
}