/*Futura*/
@font-face {
	font-family: "FuturaDemiC";
	src: local("FuturaDemiC"),
		url("FuturaDemic/FuturaDemiC.ttf");
}

@font-face {
	font-family: "FuturaBookC";
	src: local("FuturaBookC"),
		url("FuturaBook/FuturaBookC.ttf");
}

@font-face {
	font-family: "FuturaMediumC";
	src: local("FuturaMediumC"),
	url("FuturaMediumC/FuturaMediumC.ttf");
}

/*Proxima Nova*/
@font-face {
	font-family: "ProximaNova";
	src: local("ProximaNova"),
	url("ProximaNova/ProximaNovaCond-Light.ttf");
	font-weight: normal;
	font-style: normal;
}

/*Yeseva One*/
@font-face {
	font-family: "Yeseva One";
	src: local("YesevaOne-Regular"),
		url("YesevaOne/YesevaOne-Regular.ttf");
}

/*Josefin Sans*/
@font-face {
	font-family: "Josefin";
	src: local("josefinsans"),
	url("JosefinSans/josefinsans.ttf");
}