.header {
  background-color: $base-background;

  /*wrapper*/
  &__wrapper {
    @include flex-content();
    @include size(100%, 57px);
    @include basePadding();
    justify-content: space-between;
    align-items: center;
  }

  /*logo*/
  &__logo {

  }

  /*nav*/
  &__nav {
    display: none;
  }

  /*info*/
  &__info {
    @include flex-content();
  }

  /*number*/
  &__number {
    @include futuraDemic();
    font-size: 12px;
    color: $base-color;
  }

  /*button*/
  &__button {
    display: none;
  }

  &__button-text {

  }
}