.control {
  background-color: $base-background;

  /*wrapper*/
  &__wrapper {
    padding: $base-padding;
  }

  /*title*/
  &__title {
    @include yesevaOne();
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $base-color;
  }

  &__title-icon-wrapper {
    margin-top: 18px;
  }

  /*video*/
  &__video-wrapper {
    @include change-computing();
    @include maxSize(100%, 207px);
    @include size(100%, 0);
    position: relative;
    margin-top: 40px;
    padding-bottom: 56.25%;
  }

  &__video {
    @include size();
    position: absolute;
    top: 0;
    left: 0;
  }

  /*line*/
  &__line {
    @include size(55px, 1px);
    display: block;
    margin: 28px auto 0;
    background-color: $brand-color;
  }

  /*text*/
  &__text {
    @include change-computing();
    @include maxSize(100%, 144px);
    @include size();
    @include futuraBook();
    margin: 21px 0 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $base-color;
  }

  /*form*/
  &__form {
    margin-top: 37px;
  }

  &__form-content-wrapper {
    @include size(100%, 152px);
  }

  &__form-submit {
    margin-bottom: 20px;
    transition: color $regular-time, box-shadow $regular-time;
  }
}