.logo {
  display: block;
  margin: 0;
  font-size: 12px;

  &__link {
    @include futuraDemic();
    @include no-a();
    color: $brand-color;
    text-transform: uppercase;
    @include transition(text-shadow);

    &:hover {
      text-shadow: -1px 4px 3px black;
    }

    &:active {
      text-shadow: none;
    }
  }
}