.logo {
  display: block;
  margin: 0;
  font-size: 12px;

  @media only screen and (min-width: $common-width) {
    font-size: 13px;
    line-height: 16px;
  }

  @media only screen and (min-width: $max-width) {
    font-size: 14px;
  }

  &__link {
    @include futuraDemic();
    @include no-a();
    color: $brand-color;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border $regular-time, text-shadow $regular-time;

    @media only screen and (min-width: $tablet-width) {
      &:hover {
        text-shadow: none;
        border-bottom: 1px solid $brand-color;
      }

      &:active {
        border-bottom: 1px solid transparent;
      }
    }

    &:hover {
      text-shadow: -1px 4px 3px black;
    }

    &:active {
      text-shadow: none;
      border-bottom: 1px solid transparent;
    }
  }
}