.choice {
  @include change-computing();
  position: relative;
  z-index: 1;
  margin-top: 55px;

  @media only screen and (min-width: $base-width) {
    &::before {
      content: '';
      position: absolute;
      top: 234px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $dark-background;
    }
  }

  @media only screen and (min-width: $tablet-width) {
    margin-top: 100px;

    &::before {
      top: 334px;
    }
  }

  @media only screen and (min-width: $common-width) {
    overflow: visible;
    margin: 80px 0 0;
    background: no-repeat $dark-background url("assets/img/choice-1.png");
    background-size: cover;

    &::before {
      content: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    }
  }

  @media only screen and (min-width: $max-width) {
    margin: 242px 0 40px;
  }

  /*wrapper*/
  &__wrapper {
    @include flex-content();
    flex-flow: column;
    align-items: center;
    padding: $base-padding;

    @media only screen and (min-width: $base-width) {
      @include maxSize();
    }

    @media only screen and (min-width: $tablet-width) {
      align-items: stretch;
    }

    @media only screen and (min-width: $common-width) {
      @include maxSize(1000px);
      @include minSize(0, 800px);
      flex-flow: row;
      justify-content: space-between;
      align-items: stretch;
      padding: 0;
    }

    @media only screen and (min-width: $max-width) {
      @include minSize(0, 864px);
      overflow: visible;
    }
  }

  /*info*/
  &__info {
    @include change-computing();
    flex: 0 1 100%;

    @media only screen and (min-width: $tablet-width) {
      @include maxSize();
    }

    @media only screen and (min-width: $common-width) {
      @include maxSize(300px, 800px);
      flex: 0 1 30%;
      margin-right: 10px;
      padding: 0 20px 0 40px;
    }

    @media only screen and (min-width: $max-width) {
      @include maxSize(510px);
      flex: 0 1 36%;
      margin: 0;
      padding: 0 20px 0 99px;
    }
  }

  /*title*/
  &__title {
    @media only screen and (min-width: $tablet-width) {
      position: relative;
      z-index: 1;
    }

    @media only screen and (min-width: $common-width) {
      @include change-computing();
      @include maxSize(411px, 66px);
      margin-top: 137px;
      text-align: left;
    }
  }

  /*list*/
  &__list {
    @include change-computing();
    @include list();
    display: none;
    margin-top: 47px;
    list-style: none;

    @media only screen and (min-width: $common-width) {
      @include flex-content();
      flex-flow: column;
    }
  }

  &__item {
    @include proximaNova();
    margin-top: 14px;
    font-size: 20px;
    line-height: 34px;
    color: $base-color;
    border-bottom: 1px solid transparent;
    transition: color $regular-time, border-bottom $regular-time;

    &:hover {
      cursor: pointer;
      color: $brand-color;
      border-bottom: 1px solid $brand-color;
    }

    &:active {
      color: $base-color;
      border-bottom: 1px solid transparent;
    }

    &:first-child {
      margin-top: 0;
    }

    &_current {
      color: $brand-color;
      border-bottom: 1px solid $brand-color;
    }
  }

  /*carousel*/
  &__carousel {
    @include maxSize(100%, 242px);
    margin-top: 24px;

    @media only screen and (min-width: $base-width) {
      @include maxSize(100%, 300px);
    }

    @media only screen and (min-width: $tablet-width) {
      @include maxSize(100%, 500px);
    }

    @media only screen and (min-width: $common-width) {
      @include maxSize(700px, none);
      @include size(65%, auto);
      overflow: visible;
      margin-top: 0;
    }

    @media only screen and (min-width: $max-width) {
      @include maxSize(865px, none);
      @include size(62%, auto);
    }
  }

  &__carousel-wrapper {
    position: relative;

    @media only screen and (min-width: $base-width) {
      @include maxSize(100%, 300px);
    }

    @media only screen and (min-width: $tablet-width) {
      @include maxSize(none, 500px);
    }

    @media only screen and (min-width: $common-width) {
      @include maxSize(none, 800px);
      flex-flow: column;
    }

    @media only screen and (min-width: $max-width) {
      @include maxSize(852px, 864px);
    }
  }

  &__wrapper-img {
    @include size(100%, 242px);

    @media only screen and (min-width: $base-width) {
      @include size(100%, 300px);
    }

    @media only screen and (min-width: $tablet-width) {
      @include size(100%, 500px);
    }

    @media only screen and (min-width: $common-width) {
      position: relative;
      @include maxSize(300px, 400px);
      @include size(auto, auto);

      /*first child*/
      &:first-child {
        top: 40px;

        & > .choice__img {
          margin-left: -220px;
          width: 240%;
        }
      }

      /*second child*/
      &:nth-child(2) {
        @include size(auto, 300px);
        top: 80px;
      }

      /*third child*/
      &:nth-child(3) {
        @include size(auto, 275px);
        top: -680px;
        left: 330px;
      }

      /*last child*/
      &:last-child {
        @include size(300px, 625px);
        top: -640px;
        left: 330px;
      }
    }

    @media only screen and (min-width: $max-width) {
      @include maxSize(354px, 625px);
      margin-right: 43px;

      /*first child*/
      &:first-child {
        @include size(auto, 556px);
        top: -41px;

        & > .choice__img {
          margin-left: -246px;
          width: 240%;
        }
      }

      /*second child*/
      &:nth-child(2) {
        @include size(auto, 349px);
        top: 0;
      }

      /*third child*/
      &:nth-child(3) {
        @include size(auto, 275px);
        top: -1017px;
        left: 397px;
      }

      /*last child*/
      &:last-child {
        @include size(auto, 625px);
        top: -981px;
        left: 397px;
      }
    }
  }

  &__carousel-button {
    @media only screen and (min-width: $common-width) {
      display: none;
    }
  }
}