.offer {
  @include change-computing();
  @include size();
  overflow: visible;
  padding-bottom: 20px;

  /*wrapper-img*/
  &__wrapper-img {
    @include change-computing();
    @include maxSize(100%, 365px);
    @include size();
    margin: 0;
  }

  /*img*/
  &__img {
    @include change-computing();
    @include size(100%, 365px);
    display: block;
  }

  /*info*/
  &__info {
    @include change-computing();
    @include maxSize(270px);
    position: relative;
    overflow: visible;
    margin-top: -142px;
    padding: 21px 10px 0 31px;
    background-color: $base-color;
    box-shadow: 5px 10px 20px $offer-background;
  }

  /*title*/
  &__title {
    @include change-computing();
    @include yesevaOne();
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 21px;
    text-transform: capitalize;
    color: $accent-color;
  }

  /*list*/
  &__list {
    @include change-computing();
    @include list();
    margin-top: 10px;
    padding-left: 20px;
  }

  /*item*/
  &__item {
    @include futuraBook();
    font-size: 13px;
    line-height: 22px;
    color: $list-color;
  }

  /*button*/
  &__button {
    @include change-computing();
    @include maxSize(190px, 40px);
    @include size(190px, 40px);
    position: relative;
    left: -31px;
    bottom: -20px;
    display: block;
    padding: 11px 5px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px $brand-30-color;
  }
}