.offer {
  @include change-computing();
  @include size();
  overflow: visible;
  padding-bottom: 20px;

  @media only screen and (min-width: $max-width) {
    @include maxSize(392px, none);
    flex: 0 1 33%;
    margin: 0;
  }

  /*wrapper-img*/
  &__wrapper-img {
    @include change-computing();
    @include maxSize(100%, 365px);
    @include size();
    position: relative;
    margin: 0;

    @media only screen and (min-width: $max-width) {
      @include maxSize(100%, 421px);
      @include size(100%, 421px);
    }
  }

  /*img*/
  &__img {
    @include change-computing();
    @include size(100%, 365px);
    display: block;

    @media only screen and (min-width: $max-width) {
      @include size(100%, 421px);
    }
  }

  /*info*/
  &__info {
    @include change-computing();
    @include maxSize(270px);
    position: relative;
    overflow: visible;
    margin-top: -142px;
    padding: 21px 10px 0 31px;
    background-color: $base-color;
    box-shadow: 5px 10px 20px $offer-background;

    @media only screen and (min-width: $max-width) {
      @include maxSize(330px);
      margin: -127px auto 0;
      padding: 25px 10px 0 31px;
    }
  }

  /*title*/
  &__title {
    @include change-computing();
    @include yesevaOne();
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 21px;
    text-transform: capitalize;
    color: $accent-color;

    @media only screen and (min-width: $max-width) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  /*list*/
  &__list {
    @include change-computing();
    @include list();
    margin-top: 10px;
    padding-left: 20px;

    @media only screen and (min-width: $max-width) {
     margin-top: 13px;
    }
  }

  /*item*/
  &__item {
    @include futuraBook();
    font-size: 13px;
    line-height: 22px;
    color: $list-color;

    @media only screen and (min-width: $max-width) {
      font-size: 15px;
      line-height: 25px;
    }
  }

  /*button*/
  &__button {
    @include change-computing();
    @include maxSize(190px, 40px);
    @include size(190px, 40px);
    position: relative;
    left: -31px;
    bottom: -20px;
    display: block;
    padding: 11px 5px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px $brand-30-color;

    @media only screen and (min-width: $max-width) {
      @include maxSize(228px, 54px);
      @include size(228px, 54px);
      padding: 15px 5px;
      font-size: 18px;
      line-height: 25px;
    }
  }
}