.repair {
  margin-top: -25px;
  padding: 83px 0 0;
  background-color: $base-color;

  /*wrapper*/
  &__wrapper {
    @include change-computing();
    @include size();
    padding: $base-padding;
  }

  /*title*/
  &__title {
    color: $title-color;
  }

  /*wrapper-offers*/
  &__wrapper-offers {
    @include flex-content();
    flex-flow: column;
    margin-top: 40px;
  }

  /*design*/
  &__offer {
    margin-bottom: 59px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  /*design img*/
  &__offer-img {
    &_big {
      width: auto;
      margin-left: -207px;
    }
  }

  /*wrapper-info*/
  &__wrapper-info {
    display: none;
  }

  /*info*/
  &__info {

  }

  /*help*/
  &__help {

  }

  /*content*/
  &__content {

  }

  &__content__text {

  }

  /*form*/
  &__form {

  }

  &__form-content-wrapper {

  }

  /*save*/
  &__save {

  }

  &__save-wrapper-img {

  }

  &__save-img {

    &_main {}

    &_dollar {}

    &_eye {}
  }

  &__text {}
}