.page {
  @include change-computing();
  @include maxSize($base-width);
  margin: 0 auto;

  /*br*/
  &__br {
    display: block;
  }

  /*up*/
  &__up {
    text-transform: uppercase;
  }

  /*title*/
  &__title {
    @include yesevaOne();
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__title-icon-wrapper {
    @include flex-content();
    justify-content: center;
    align-items: center;
    margin: 18px auto 0;

    &::before {
      content: "";
      display: block;
      @include size(32px, 1px);
      background-color: $brand-color;
    }

    &::after {
      content: "";
      display: block;
      @include size(32px, 1px);
      background-color: $brand-color;
    }

  }

  &__title-icon {
    margin: 0 11px;
  }
}