.page {
  @include change-computing();
  @include maxSize($base-width);
  margin: 0 auto;

  @media only screen and (min-width: $base-width) {
    @include maxSize();
    @include minSize($base-width);
  }

  @media only screen and (min-width: $tablet-width) {
    @include minSize($tablet-width);
  }

  @media only screen and (min-width: $common-width) {
    @include minSize($common-width);
  }

  @media only screen and (min-width: $max-width) {
    @include maxSize($max-width);
  }

  /*br*/
  &__br {
    display: block;
  }

  /*up*/
  &__up {
    text-transform: uppercase;
  }

  /*title*/
  &__title {
    @include yesevaOne();
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $brand-color;

    @media only screen and (min-width: 1440px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__title-icon-wrapper {
    @include flex-content();
    justify-content: center;
    align-items: center;
    margin: 18px auto 0;

    @media only screen and (min-width: $max-width) {
      margin-top: 13px;
    }

    &::before {
      content: "";
      display: block;
      @include size(32px, 1px);
      background-color: $brand-color;
    }

    &::after {
      content: "";
      display: block;
      @include size(32px, 1px);
      background-color: $brand-color;
    }
  }

  &__title-icon {
    margin: 0 11px;
  }
}