.person {
  @include change-computing();
  @include maxSize(339px);
  @include size();

  @media only screen and (min-width: $tablet-width) {
    @include maxSize(339px);
  }

  @media only screen and (min-width: $common-width) {
    @include maxSize(307px);
  }

  @media only screen and (min-width: $max-width) {
    @include maxSize(375px);
  }

  /*wrapper-icon*/
  &__wrapper-icon {
    position: relative;
    @include flex-content();
    @include maxSize(70px, 70px);
    @include size(100%, 70px);
    justify-content: center;
    align-items: center;
    margin: 0 0 -35px;
    background-color: $brand-color;
    box-shadow: 0 5px 20px $brand-50-color;
  }

  /*wrapper-img*/
  &__wrapper-img {
    @include change-computing();
    @include maxSize(303px, 352px);
    @include size(100%, 352px);
    margin: 0 0 0 35px;
    background-color: $base-color;

    @media only screen and (min-width: $base-width) {
      @include maxSize(302px, 352px);
    }

    @media only screen and (min-width: $common-width) {
      @include maxSize(272px, 358px);
      @include size(100%, 358px);
    }
  }

  /*img*/
  &__img {
    @include size(303px, 352px);

    @media only screen and (min-width: $common-width) {
      @include size(auto, 358px);
    }
  }

  /*info*/
  &__info {
    @include change-computing();
    @include maxSize(233px);
    @include size();
    position: relative;
    margin: -80px 0 0 66px;
    padding: 22px 0 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);;
    background-color: $base-color;

    @media only screen and (min-width: $tablet-width) {
      @include maxSize(250px);
      margin-left: 61px;
    }

    @media only screen and (min-width: $common-width) {
      @include maxSize(233px);
      margin-left: 55px;
    }
  }

  /*name*/
  &__name {
    @include yesevaOne();
    margin: 0;
    padding: 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  /*position*/
  &__position {
    @include futuraBook();
    display: block;
    margin-bottom: 24px;
    padding: 0 5px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595;
  }

  /*experience*/
  &__experience {
    @include yesevaOne();
    display: block;
    padding: 13px 5px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $base-color;
    background-color: $brand-color;
  }
}