.button {
  @include change-computing();
  @include futuraDemic();
  @include no-a();
  color: $base-color;
  background-color: $brand-color;
  outline: none;

  &_circle {
    border-radius: 50%;
  }
}